<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Histórico de Cálculos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Histórico de piquetes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="piquete == 0">
          <ion-label class="center">Histórico de piquetes vazio!</ion-label>
        </ion-item>
        <ion-item *ngFor="let historico of piquete">
          <ion-label (click)="selecionado(historico)">{{historico.resultadoPiquete}} piquetes</ion-label>
          <ion-icon name="trash" color="danger" (click)="deletar(historico)"></ion-icon>
        </ion-item>
      </ion-list>
      <hr><br><ion-card-title>Histórico de consumo anim.</ion-card-title>
      <ion-list>
        <ion-item>
          <ion-label>Teste</ion-label>
          <ion-icon name="trash" color="danger" (click)="deletar(historico)"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
