<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="cursive">
      Consumo animal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title class="cursive">Cálculo de consumo anim.</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label position="stacked">Ingestão animal(%)</ion-label>
      <ion-item>
        <ion-input type="number" [value]="ingestaoAnimal" placeholder="Ingestão Animal(%)" [(ngModel)]="consumo.ingestaoAnimal"></ion-input>
      </ion-item>
      <ion-label position="stacked">Peso médio dos animais</ion-label>
      <ion-item>
        <ion-input type="number" [value]="pesoMedioAnimal" placeholder="Peso médio dos animais" [(ngModel)]="consumo.pesoMedioAnimal"></ion-input>
      </ion-item>
      <ion-label position="stacked">Número de animais</ion-label>
      <ion-item>
        <ion-input type="number" [value]="numeroAnimais" placeholder="Número de animais" [(ngModel)]="consumo.numeroAnimais"></ion-input>
      </ion-item>
      <ion-label position="stacked">Perda de pastejo(%)</ion-label>
      <ion-item>
        <ion-input type="number" [value]="perdaPastejo" placeholder="Perda de pastejo(%)" [(ngModel)]="consumo.perdaPastejo"></ion-input>
      </ion-item>
      <ion-label position="stacked">Estacionalidade(%)</ion-label>
      <ion-item>
        <ion-input type="number" [value]="estacionalidade" placeholder="Estacionalidade(%)" [(ngModel)]="consumo.estacionalidade"></ion-input>
      </ion-item>
      <hr>
      <hr><strong>Resultados:</strong><br>
      <ion-label color="dark">Consumo animal</ion-label>
      <ion-item lines="full">
        <ion-label id="resultadoConsumoAnimal">0</ion-label>
      </ion-item>
      <ion-label color="dark">Matéria seca por hec.</ion-label>
      <ion-item lines="full">
        <ion-label id="resultadoMsPorHec">0</ion-label>
      </ion-item>
      <ion-label color="dark">MS por ano por hec.</ion-label>
      <ion-item lines="full">
        <ion-label id="resultadoMsPorHecPorAno">0</ion-label>
      </ion-item>
      <ion-button (click)="calcular()">Calcular</ion-button>
      <ion-button color="warning" (click)="limparInputs()">Limpar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>