<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sobre Nós
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card color="light">
    <ion-card-header>
        <div class="vertical-center">
            <div class="center">
              <ion-img src="../assets/imgs/logo-curso.jpg" class="ion-align-self-end"></ion-img>
            </div>   
          </div>      
    </ion-card-header>

    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      
    </ion-card-header>

    <ion-card-content>
        <ion-label color="dark">Desenvolvedores</ion-label>  
        <ion-item>
              <ion-avatar slot="start">
                <img src="https://scontent.fria1-1.fna.fbcdn.net/v/t1.0-9/72587953_1504700646335579_4334328373460336640_n.jpg?_nc_cat=102&_nc_oc=AQmbM56OXreN68O_I5zONxsPbFY7d8yVCY04Yx-qnA7-nsuoFpnpRB7oqj1lMPf3hWmbpYT0ssBrep0D8ERp9GGu&_nc_ht=scontent.fria1-1.fna&oh=9254b726480554747f79793256e11249&oe=5E5FBF2A">
              </ion-avatar>
              <ion-label>Gustavo de Souza de Lima</ion-label>
            </ion-item>
            <ion-item>
                <ion-avatar slot="start">
                  <img src="https://media.licdn.com/dms/image/C4D03AQFeTwFJZKywew/profile-displayphoto-shrink_200_200/0?e=1578528000&v=beta&t=pZDqF2Tnb6Pcyl_3337zqNumtEHC3aGSH7SiLRGpTmQ">
                </ion-avatar>
                <ion-label>Gabriel Becker Costa</ion-label>
              </ion-item>
        <ion-list>
            <ion-label color="dark">E-mails</ion-label>
            <ion-item>
              <ion-label>gustavosouza501@gmail.com</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>gabeccosta@gmail.com</ion-label>
            </ion-item>
          </ion-list>
    </ion-card-content>
  </ion-card>

  
</ion-content>