<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="cursive">
      Detalhes do cálculo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title class="center" class="cursive">Cálculo realizado em: {{piquete.dataCompleta}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark">Periodo de descanso do capim selecionado</ion-label>
      <ion-item lines="full">
        <ion-label>{{piquete.periodoDescanso}} dia(s)</ion-label>
      </ion-item>
      <ion-label color="dark">Periodo de ocupação inserido</ion-label>
      <ion-item lines="full">
        <ion-label>{{piquete.periodoOcupacao}} dia(s)</ion-label>
      </ion-item>
      <hr>
      <hr><strong>Resultado:</strong><br>
      <ion-label color="dark">Piquetes necessários</ion-label>
      <ion-item lines="full">
        <ion-label>{{piquete.resultadoPiquete}} piquete(s)</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button (click)="deletar(piquete)" color="danger" expand="full">
      Deletar
      <ion-icon slot="end" name="trash"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>