<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="cursive">
      Calcular piquete(s)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title class="cursive">Calcular nº de piquete(s)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-label>Tipo de capim</ion-label>
        <ion-item>
          <ion-label>Capim</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="select">
            <ion-select-option value="35">Brachiarão - 35 dias</ion-select-option>
            <ion-select-option value="32">Braquiária - 32 dias</ion-select-option>
            <ion-select-option value="28">Coastcross - 28 dias</ion-select-option>
            <ion-select-option value="35">Colonião - 35 dias</ion-select-option>
            <ion-select-option value="45">Elefante - 45 dias</ion-select-option>
            <ion-select-option value="30">Mombaça - 30 dias</ion-select-option>
            <ion-select-option value="32">Tanzânia - 32 dias</ion-select-option>
            <ion-select-option value="28">Tifton - 28 dias</ion-select-option>
            <ion-select-option value="30">Tobiatã - 30 dias</ion-select-option>
            <ion-select-option value="28">Estrela - 28 dias</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-label position="stacked">Periodo(s) de ocupação(ões)</ion-label>
      <ion-item>
        <ion-input type="number" [value]="periodoOcupacao" placeholder="Periodo(s) de ocupação(ões)"
          [(ngModel)]="piquete.periodoOcupacao">
        </ion-input>
      </ion-item>
      <hr>
      <hr><strong>Resultado:</strong><br>
      <ion-label color="dark">Piquete(s) necessário(s)</ion-label>
      <ion-item lines="full">
        <ion-label id="resultado">0</ion-label>
      </ion-item>
      <ion-button (click)="calcular()" color="primary">Calcular</ion-button>
      <ion-button color="warning" (click)="limparInputs()">Limpar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>