<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="cursive">
      Detalhes do cálculo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="center" class="cursive">Cálculo realizado em: {{consumo.dataCompleta}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="dark">Consumo do Animal inserido</ion-label>
      <ion-item lines="full">
        <ion-label>{{consumo.ingestaoAnimal}} %</ion-label>
      </ion-item>
      <ion-label color="dark">Peso do animal inserido</ion-label>
      <ion-item lines="full">
        <ion-label>{{consumo.pesoMedioAnimal}} Kg</ion-label>
      </ion-item>
      <ion-label color="dark">Número de Animais</ion-label>
      <ion-item lines="full">
        <ion-label>{{consumo.numeroAnimais}} animais</ion-label>
      </ion-item>
      <ion-label color="dark">Perda de Pastejo(%)</ion-label>
      <ion-item lines="full">
        <ion-label>{{consumo.perdaPastejo}} %</ion-label>
      </ion-item>
      <ion-label color="dark">Estacionalidade(%)</ion-label>
      <ion-item lines="full">
        <ion-label>{{consumo.estacionalidade}} %</ion-label>
      </ion-item>
      <hr>
      <hr><strong>Resultados:</strong><br>
      <ion-label color="dark">Consumo animal</ion-label>
      <ion-item lines="full">
        <ion-label>{{consumo.resultadoConsumoAnimal}} %</ion-label>
      </ion-item>
      <ion-label color="dark">Matéria seca por hectare</ion-label>
      <ion-item lines="full">
        <ion-label>{{consumo.resultadoMsHec}} %</ion-label>
      </ion-item>
      <ion-label color="dark">Matéria seca por hectare por ano</ion-label>
      <ion-item lines="full">
        <ion-label>{{consumo.resultadoMsAnoHec}} %</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-button (click)="deletar(consumo)" color="danger" expand="full">
      Deletar
      <ion-icon slot="end" name="trash"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>