<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Como funciona
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card class="welcome-card" color="light">
    <img src="/assets/imgs/navegando.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Como funciona o aplicativo</ion-card-subtitle>
      <ion-card-title>Navegando entre páginas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Para acessar as funcionalidades oferecidas pelo aplicativo você
        deve acessar o menu lateral tocando no icone <ion-icon name="menu"></ion-icon> 
        e acessando a opção desejada.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card" color="light">
    <img src="/assets/imgs/como-usar.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Realizando cálculos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Para cálculos de <strong>piquetes</strong> deve ser informado
        o tipo de <strong>capim</strong> desejado com base no deu período de descanso, logo
        após informe o <strong>período de ocupação</strong> que o animal ficará no piquete.
      </p>
      <br><p>
        Para cálculos de <strong>consumo</strong> informe a <strong>ingestão animal</strong> em porcentagem,
        o <strong>peso médio dos animais, número de animais, perda de pastejo</strong> em porcentagem e a
        <strong>estacionalidade</strong> em porcentagem.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
